snippet oem "OpenERP model module" b
"""${1:Model} model class."""


from openerp.osv import fields
from openerp.osv import osv

class $1(osv.Model):  # pylint: disable=W0223

	"""${2:$1 docstring}."""

	_name = '${3:`!p rv=t[1].lower()`}'
	_description = '${4:Meaningful plz}'
	_columns = {
		'${5:name}': fields.char(
			'${6:Name}',
			required=${7:True},
		),
	}
endsnippet

snippet oefc "OpenERP fields.char"
'${1:field_name}': fields.char(
	'${2:string}',
	required=${3:True}
)
endsnippet
